img{
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
   
}

.button{
    height:200px;
    width:240px
}
#delay_block{
    width:100%; 
}
#score_block{
    width:100%; 
}
#scores{
    display: inline-block;
    font-size: 250%;

}

#currentName{
    font-size: 400%;

}
#selectPoints{
    display: inline-block;
    height: 5%;
    width: 5%;
    font-size: 250%;
    background-color: antiquewhite;

}
#delay_text{
    display: inline-block;
    font-size: 250%;


}
#change_delay{
    display: inline-block;
    height: 7%;
    width: 7%;
    font-size: 250%;
    background-color: antiquewhite;

}

#yes{
    position:absolute;
    top:40%;
    left:10%;
    background-image: url("http://192.168.100.7:5000/static/yes.png");
    background-size:100%;
    background-repeat: no-repeat
}
#no{
    position:absolute;
    top:40%;
    right:10%;
    background-image: url("http://192.168.100.7:5000/static/no.png");
    background-size:100%;
    background-repeat: no-repeat
}
